header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(to right, rgb(74,87,177), rgb(35,20,92));
    color: #ffffff;
    text-align: center
}

body {
    text-align: center;
    justify-content: center;
}

section {
    display:inline-block;
}

h2 {
    margin: 25px 30px 7px;
}

.search-result {
    border-style: solid;
    border-width: 1px;
}

.weekdays-forcast {
    height: 40%;
}

.form-input {
    height: 30px;
}

.btn{
    height: 30px;
    background-color: rgb(113,144,221);
    border-style: none;
}

ul,
ol,
dl {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    text-align: center;
}

main {
    display: flex;
}

.weatherinfo {
    margin-top: 10px;
    padding: 5px;
    text-align: left;
    display: block;
}

.weather h2 {
    text-align: left;
}

